@charset "UTF-8";

    body { font-family: 'Nanum Gothic', sans-serif;}
 table {
		margin : 0 auto;
		border-collapse : collapse;
		font-size : 16px;
 }
 tr { border : 1px solid silver;	}
 th { background : #F6F6F6 ; }
 tr, td, th {
		padding : 10px;
		text-align : center;
 }
 #wrapper {
 		max-width : 1000px;
 		margin : 0 auto;
	 	display : flex;
	 	flex-wrap : wrap;
 }
 #searchBox > .search {
 		display : flex;
 		margin-top : 20px;
 		align-items : center;
 }
 #searchBox > .search span {
 		display : inline-block;
 		margin-right : 20px;
 		
 }
 #searchBox > .search form {
 		display : flex;
 }
 #searchBox > .search .form-control {
 		width : 500px;
 		margin-right : 20px;
 }
 #searchBox table {
 		margin : 20px 0;
 }
 
 /* aside css */
 #codeType {
		width : 280px;
		margin-right : 20px;
 }
 
 #codeType li{
 		list-style: none;
 		margin : 20px 0;
 }
 
 #type_info {
 		width : 700px;
 		height : 160px;
 }
 #cd_list {
 		float: right;
 		width : 700px;
 		min-height : 450px;
 }
 .noneList {
 		height: 50px;
 }
 #button input {
 		float : right;
 		margin : 10px 0 10px 10px;
 }
 #insertTr > td {
 		padding-top : 12px;
 }
 #insertTr > td:last-child {
 		padding-top : 8px;
 }