<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rli">
    
    <sql id="select">
        SELECT B.CLEAR_NOW,
			   A.SYS_INFO_NM,
			   A.REQ_NO,
			   A.REQ_TYPE,
			   A.REQ_NM,
			   B.USER_ID,
			   A.REQ_TITLE,
			   A.REQ_CON,
			   TO_CHAR(A.REQ_DTTM,'YYYY-MM-DD') AS req_dttm,
			   TO_CHAR(C.RESULT_REG_DTTM,'YYYY-MM-DD') AS result_reg_dttm
		  FROM SR_REQ A
		  JOIN SR_CLEAR B
		    ON A.REQ_ID = B.REQ_ID
		  JOIN SR_RESULT C
		    ON B.CLEAR_ID = C.CLEAR_ID
    </sql>
    
    <!-- 요청일 -->
    <sql id="req_date">
        <choose>
	    	<when test='req_start != null and req_end == null'>
	    		<![CDATA[DATE_FORMAT(A.REQ_DTTM,'%Y-%m-%d') >= #{req_start}]]>
	    	</when>
	    	<when test='req_start == null and req_end != null'>
	    		<![CDATA[DATE_FORMAT(A.REQ_DTTM,'%Y-%m-%d') <= #{req_end}]]>
	    	</when>
	    	<when test='req_start != null and req_end != null'>
				A.REQ_DTTM BETWEEN #{req_start} AND #{req_end}
	    	</when>
        </choose>
    </sql>
    
    <!-- 작업완료일 -->
    <sql id="res_date">
    	<if test='res_start != null and res_end == null'>
    		<![CDATA[DATE_FORMAT(C.RESULT_REG_DTTM,'%Y-%m-%d') >= #{res_start}]]>
    	</if>
    	<if test='res_start == null and res_end != null'>
    		<![CDATA[DATE_FORMAT(C.RESULT_REG_DTTM,'%Y-%m-%d') <= #{res_end}]]>
    	</if>
    	<if test='res_start != null and res_end != null'>
			C.RESULT_REG_DTTM BETWEEN #{res_start} AND #{res_end}
    	</if>
    </sql>
    
    <!-- 진행상태 -->
    <sql id="clear_now">
	   	B.CLEAR_NOW LIKE CONCAT('%',#{clear_now},'%') 
    </sql>
    
    <!-- 시스템명 -->
    <sql id="sys_info_nm">
 		A.SYS_INFO_NM LIKE CONCAT('%',#{sys_info_nm},'%') 
    </sql>
    
    <!-- 요청유형 -->
    <sql id="req_type">
   		A.REQ_TYPE LIKE CONCAT('%',#{req_type},'%') 
    </sql>
    
    <!-- 검색어 조건 -->
    <sql id="search_opt">
        <choose>
            <when test='search_opt != null and "search_opt.equals(all)"'>
	    		A.REQ_TITLE LIKE CONCAT('%',#{text},'%')
	    		OR
	    		A.REQ_CON LIKE CONCAT('%',#{text},'%')
	    		OR
	    		A.REQ_NM LIKE CONCAT('%',#{text},'%') 
	    		OR
	    		B.USER_ID LIKE CONCAT('%',#{text},'%') 
            </when>
            <when test='search_opt != null and "search_opt.equals(req_title)"'>
	    		A.REQ_TITLE LIKE CONCAT('%',#{text},'%') 
            </when>
            <when test='search_opt != null and "search_opt.equals(req_con)"'>
	    		A.REQ_CON LIKE CONCAT('%',#{text},'%') 
            </when>
            <when test='search_opt != null and "search_opt.equals(req_nm)"'>
	    		A.REQ_NM LIKE CONCAT('%',#{text},'%') 
            </when>
            <when test='search_opt != null and "search_opt.equals(user_id)"'>
	    		B.USER_ID LIKE CONCAT('%',#{text},'%') 
            </when>
        </choose>
    </sql>
    
    <!-- 시스템명 -->
    <sql id="sys_nm">
    	<if test='sys_nm != null and "sys_nm.equals(all)"'>
	   		AND A.SYS_NM LIKE CONCAT('%',#{sys_nm},'%') 
    	</if>
    </sql>
    
	<select id="getReq"
        resultType="com.urms.rli.vo.RliVo">
        <include refid="select" />
        ORDER BY A.REQ_DTTM DESC; 
    </select>
    
	<select id="getList"
        resultType="com.urms.rli.vo.RliVo"
        parameterType="java.util.HashMap">
        
		<include refid="select" />
		
		 WHERE <include refid="search_opt" />
			<if test='req_start != null and req_end != null'>
				AND <include refid="req_date" />
			</if>
			<if test='res_start != null and res_end != null'>
				AND <include refid="res_date" />
			</if>
			<if test='sys_info_nm != null and sys_info_nm != "all"'>
				AND <include refid="sys_info_nm" />
			</if>
			<if test='req_type != null and req_type != "all"'>
				AND <include refid="req_type" />
			</if>
			<if test='clear_now != null and clear_now != "all"'>
				AND <include refid="clear_now" />
			</if>
    </select>
	
	<select id="getSysList"
	    resultType="com.urms.rli.vo.RliVo"
	    parameterType="java.util.HashMap">
		SELECT A.SYS_NM AS sys_nm,
			   B.SYS_INFO_NM AS sys_info_nm,
			   A.USE_YN AS sys_use,
			   B.USE_YN AS sys_info_use
		  FROM SYSTEM A
		  JOIN SYS_INFO B
		    ON A.SYS_NM = B.SYS_NM
		 WHERE A.USE_YN = "Y"
		   AND B.USE_YN = "Y"
		   <if test='"prj_nm.equals(all)" or prj_nm != null'>
		   AND A.PRJ_NM LIKE CONCAT('%',#{prj_nm},'%') 
		   <include refid="sys_nm" />
		   </if>
	</select>
	
</mapper>